body {
    background-color: #153259;
    height: 100vh;
    overflow: hidden;
}

.bloc-note-title {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Poppins, Arial;
    font-size: 2.5rem;
}

.bloc-note {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    height: 100%;
}

.primary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

label {
    color: #FFFFFF;
    font-size: 1rem;
    font-family: Poppins, Arial;
}

#text-zone {
    padding-top: 1rem;
    padding-left: 1rem;
    height: 80%;
    color: #153259;
    font-family: Poppins, Arial;
}

#text-zone::placeholder {
    color: #153259;
    font-family: Poppins, Arial;
    opacity: 0.5;
}

textarea {
    resize: none;
}

#text-color {
    border: unset;
    background-color: unset;
    padding: 0;
    height: 30px;
    width: 30px;
}

#background-color {
    border: unset;
    background-color: unset;
    padding: 0;
    height: 30px;
    width: 30px;
}

.color-button {
    display: flex;
    flex-direction: row;
    gap: 20px
}